In [1]:
import pandas as pd
import numpy as np

from datetime import datetime, timedelta

In [2]:
weather = pd.read_csv("weather_daily.csv")

In [3]:
weather.head()

,Longitude,Latitude,Station_Name,Climate_ID,Date,Max_Temp,Min_Temp,Total_Precip
0,-79.63,43.68,TORONTO INTL A,6158731,2020-09-01,28.1,18.6,10.4
1,-79.63,43.68,TORONTO INTL A,6158731,2020-09-02,28.3,17.8,1.6
2,-79.63,43.68,TORONTO INTL A,6158731,2020-09-03,28.6,14.9,2.0
3,-79.63,43.68,TORONTO INTL A,6158731,2020-09-04,23.0,12.4,0.2
4,-79.63,43.68,TORONTO INTL A,6158731,2020-09-05,21.1,11.5,0.0

In [4]:
weather = weather.dropna()

In [5]:
weather["Date"] = pd.to_datetime(weather["Date"] ).dt.strftime('%Y-%m-%d')

In [6]:
weather.insert(0, "weather_key",  np.arange(len(weather)))

In [7]:
weather.head()

,weather_key,Longitude,Latitude,Station_Name,Climate_ID,Date,Max_Temp,Min_Temp,Total_Precip
0,0,-79.63,43.68,TORONTO INTL A,6158731,2020-09-01,28.1,18.6,10.4
1,1,-79.63,43.68,TORONTO INTL A,6158731,2020-09-02,28.3,17.8,1.6
2,2,-79.63,43.68,TORONTO INTL A,6158731,2020-09-03,28.6,14.9,2.0
3,3,-79.63,43.68,TORONTO INTL A,6158731,2020-09-04,23.0,12.4,0.2
4,4,-79.63,43.68,TORONTO INTL A,6158731,2020-09-05,21.1,11.5,0.0

In [ ]:
weather.to_csv("weather_dimension.csv",index=False)